body {
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
	background-repeat: no-repeat;
	height: 750px;

}

h1, p, h2, footer {
	color: white;
	font-family:monospace;
	text-align: center;
}

img {
	background-blend-mode: 
}