.nav a {
  color: #C9D6FF;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url(http://i.imgur.com/8mw0a9Q.jpg);
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:300px;
}

.jumbotron h1 {
  display:flex;
  justify-content:center;
  color: #75DF98;
  font-size: 100px;  
  font-family: 'pacifico', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
